/* Coolors Exported Palette - https://coolors.co/5e1dfc-ab88ff-8f57fd-21c08b-e6af2e */

/* CSS HEX */
--han-purple: #5e1dfcff;
--lavender-floral: #ab88ffff;
--medium-slate-blue: #8f57fdff;
--mountain-meadow: #21c08bff;
--goldenrod: #e6af2eff;

/* CSS HSL */
--han-purple: hsla(257, 97%, 55%, 1);
--lavender-floral: hsla(258, 100%, 77%, 1);
--medium-slate-blue: hsla(260, 98%, 67%, 1);
--mountain-meadow: hsla(160, 71%, 44%, 1);
--goldenrod: hsla(42, 79%, 54%, 1);

/* SCSS HEX */
$han-purple: #5e1dfcff;
$lavender-floral: #ab88ffff;
$medium-slate-blue: #8f57fdff;
$mountain-meadow: #21c08bff;
$goldenrod: #e6af2eff;

/* SCSS HSL */
$han-purple: hsla(257, 97%, 55%, 1);
$lavender-floral: hsla(258, 100%, 77%, 1);
$medium-slate-blue: hsla(260, 98%, 67%, 1);
$mountain-meadow: hsla(160, 71%, 44%, 1);
$goldenrod: hsla(42, 79%, 54%, 1);

/* SCSS RGB */
$han-purple: rgba(94, 29, 252, 1);
$lavender-floral: rgba(171, 136, 255, 1);
$medium-slate-blue: rgba(143, 87, 253, 1);
$mountain-meadow: rgba(33, 192, 139, 1);
$goldenrod: rgba(230, 175, 46, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5e1dfcff, #ab88ffff, #8f57fdff, #21c08bff, #e6af2eff);
$gradient-right: linear-gradient(90deg, #5e1dfcff, #ab88ffff, #8f57fdff, #21c08bff, #e6af2eff);
$gradient-bottom: linear-gradient(180deg, #5e1dfcff, #ab88ffff, #8f57fdff, #21c08bff, #e6af2eff);
$gradient-left: linear-gradient(270deg, #5e1dfcff, #ab88ffff, #8f57fdff, #21c08bff, #e6af2eff);
$gradient-top-right: linear-gradient(45deg, #5e1dfcff, #ab88ffff, #8f57fdff, #21c08bff, #e6af2eff);
$gradient-bottom-right: linear-gradient(135deg, #5e1dfcff, #ab88ffff, #8f57fdff, #21c08bff, #e6af2eff);
$gradient-top-left: linear-gradient(225deg, #5e1dfcff, #ab88ffff, #8f57fdff, #21c08bff, #e6af2eff);
$gradient-bottom-left: linear-gradient(315deg, #5e1dfcff, #ab88ffff, #8f57fdff, #21c08bff, #e6af2eff);
$gradient-radial: radial-gradient(#5e1dfcff, #ab88ffff, #8f57fdff, #21c08bff, #e6af2eff);